/*Global*/
:root{
    /*variables for background color*/
    --color_primary : #E7E7E7; 
    --color_secondary : #C7BEBE;
    --color_tertiary : #3282F7;
    --color_quaternary: #68D9A4;
    --color_cinq:#ED6454;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
* {
    font-family: Lato , sans-serif;
  }
 
a, ul > li {
    text-decoration: none;
  }
  
ul {
    list-style-type: none;
  }

.hidden{
  display:none; 
}

.disable{
  pointer-events: none;
}

.show{
  display: block;
}

.curser{
  cursor: pointer;;
}

body{
    margin: 2em;
  }

  header{
  display: flex;
  justify-content: center;
}

.logo {
    width: 270px;
    height: 95px;
  }

#search_input{
  border: none;
  width: 100%;
  height: 70px;
  background-color: var(--color_primary);
  color:black;
  font-size :  1em;
  border-radius: 5px;
  padding: 0.5em;
  padding-left: 2em;
  margin: 2em 0
}
.error_text{
  color: red;
  padding-top: 5px;
}
.form_container{
  position: relative;
}
.fa-search{
  position: absolute;
  font-size: 2em;
  top:35%;
  right: 20px;
}
/*--dropdown section*/
.tag_wrapper{
  display: flex;
  flex-direction: row;
}

.tag_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  position:relative;
  width: 170px;
  height: 70px;
  border-radius:  5px;
  border: none;
  font-size: 1.3em;
  color: white;
  margin-right:  3em;
  overflow-y: hidden;
}
.tag{
  color:white;
}

#search_input_by_ingredient::placeholder{
  color :white;
  font-size: 1.2em;
}
.tag_container:hover > ul{
  opacity: 1;
}

.active{
  width: 600px;
}

.head{
  position: relative;
}

.fa-angle-down{
  color:white;
  position : relative;
}

.active > .fa-angle-down{
  animation : arrow_rotate 0.5s forwards ease-in;
}

@keyframes arrow_rotate {
  100% {transform: rotate(180deg);}
  
}
.open{
  animation : arrow_rotate 0.5s forwards ease-in;
 
}

.close{
  animation : arrow_rotate 1s  ease-out;
}
#selected_ingredient{
  width: 170px;
  height: auto-fit;
  border-radius: 5px;
  color: white; 
  padding: 10px;
  position : relative;
  top:-50px;  
}

.input_tag{
  border:none;
  background-color: var(--color_tertiary);
  color:white;
  width: 80%;
  height: 50px;
  font-size: 0.8em;
  position: absolute;
  top:0;
  left:0;
  padding-left: 0.5em;
  outline:none;
}

/*Ul tag lists*/
.tag_contents{
  border-radius: 0 0 5px 5px;
  color: white;
  padding: 2em;
  width: 600px;
  /*height: 200px;*/
  top: 65px;
  position : absolute;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  font-size: 0.7em;
  z-index: 3;
  overflow-y: scroll; 
  pointer-events: none;
  opacity: 0;
}

/*once UL list in active state*/
.ul_active{
  opacity: 1;
  overflow-y: scroll;
  pointer-events: auto;
}

.ul_active li:hover{
  color : black;
}

.temp_input{
  position: relative;
  left:0;
  z-index: 4;
}
#show_tag{
  display: flex;
  flex-direction: row;
}
.selected_tag{
  margin: 0 0.5em 2em 0;
  width: fit-content;
  padding :0.5em;
  border-radius: 5px;
  color: white;
}

.selected_tag::after{
  content: "\f057";
  font-family: "Font Awesome 5 free";
  padding: 0 0.5em;
}

.button_section{
  position : relative;
}

#btn_Ingredients + .tag_contents ul, 
#selected_ingredient ,
[data-button="ingredients"],
.blue{
  background-color: var(--color_tertiary);
}


#searchByAppareils,
#searchByAppareils > .dropdown_container,
.green{
  background-color: var(--color_quaternary);
}
#searchByUstensils,
  #searchByUstensils > .dropdown_container,
  .red{
    background-color: var(--color_cinq);
}



/*--RECIPE SECTION*/
#recipe_wrapper{
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 2em;
  grid-template-rows: auto;
  row-gap: 2em;
  justify-self: center;
  margin-top: 2em;
}
.recipe_container{
/*  height: 365px; --- Actual size*/
  height: 400px;
  background-color: var(--color_secondary);
  border-radius: 5px;
  position: relative;
}
.recipe_details{
  position:absolute;
  bottom: 0;
  /* height: 180px;--- Actual size */
  height: 300px;

  background-color: lightgray;
  border-radius:  0 0 5px 5px;
}

.recipe_details {
  padding:1em;
}
.recipe_head{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
}

.fa-clock{
  padding-right: 0.5em;
}
.cooking_section{
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.ingredients{
  width:40%;
  font-size: 0.75em;
  font-weight: 700;
  margin-right:0.5em;
}
.description{
  width:60%;
  font-size: 0.75em;
  overflow: hidden;
  display: flex;
  display: -webkit-box;
  -webkit-line-clamp: 8 ;
  -webkit-box-orient: vertical;
}

