/*Global*/
:root{
    /*variables for background color*/
    --color_primary : #E7E7E7; 
    --color_secondary : #C7BEBE;
    --color_tertiary : #3282F7;
    --color_quaternary: #68D9A4;
    --color_cinq:#ED6454;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
* {
    font-family: Lato , sans-serif;
  }
 
a, ul > li {
    text-decoration: none;
  }
  
ul {
    list-style-type: none;
  }

  body{
    margin: 2em;
  }
header{
  display: flex;
  justify-content: center;
}

.logo {
    width: 270px;
    height: 95px;
  }

#search_input{
  border: none;
  width: 100%;
height: 70px;
background-color: var(--color_primary);
color:white;
font-size :  1em;
border-radius: 5px;
padding: 0.5em;
padding-left: 2em;
margin: 2em 0
}
.form_container{
  position: relative;
}
.fa-search{
  position: absolute;
  font-size: 2em;
  top:35%;
  right: 20px;
}